*{
    margin: 2;
    padding: 2;
    box-sizing: border-box;
}
html,body{
font-family: Georgia, 'Times New Roman', Times, serif;
text-rendering: optimizeLegibility;
font-size: 62.5%;
}
body{
    background-color: 
}

input{
    width: 70rem;
    justify-content: center;
   border-radius: 200rem;
   margin: 2rem;
   margin-top: 2rem;
   
}
button{
display: flex;
border-radius: 30%rem;


}
form{
    justify-content:space-between;
    display: flex;
  align-items: center;
}

#retangulo{
    width: 45rem;
    height: 30rem;
    margin: 0 auto;
    margin-top: 10rem;
    border: 0.2rem solid ;
    border-radius: 2rem;
    color: 
    background-color:red:
}



img{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    right: 85%; position: absolute;
    margin-top: -2.5%;
    float: left;
    
} 

#nome{
  right: 68.50%; position: absolute;
  margin-top: -3%;


}
    
    






